* {
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Microsoft JhengHei;
	background-color: #F4F4ED;
}
#introduction{
	padding: 30px 50px;
}
#introduction h1{
	margin-bottom: 10px;
	color: #B63D32;
}
#introduction p{
	font-size: 15px;
	margin-bottom: 20px;
}